.huetility-shade-tint-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 900px;
}

.huetility-shade-tint-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
