.huetility-scales-container {
  gap: 3rem;
}

.huetility-scale-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 900px;
}

.huetility-scale-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
