/* ColorPicker */
.huetility-color-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.huetility-picker-swatch {
  height: 250px;
  width: 1000px;
  max-width: 100%;
  margin-bottom: 2rem;
}

.huetility-mode-select {
  margin-bottom: 1rem;
  width: 7rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.huetility-color-selection-container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

@media (max-width: 700px) {
  .huetility-color-selection-container {
    gap: 1rem;
  }
}

/* RGBColorWheel  */
.huetility-default-canvas {
  border: solid 3px black;
}

/* pickerHEX, pickerRGB, etc  */

.huetility-picker-input-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
}

/* input group and error */
.huetility-code-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* number input and sliders */
.huetility-code-input-group {
  display: flex;
  gap: 1rem;
}

/* number/string input and label */
.huetility-code-number-input {
  margin-bottom: 0.75rem;
  white-space: nowrap;
}

.huetility-number-input {
  font-size: 1.25rem;
}

.huetility-code-string-input {
  font-size: 1.25rem;
}

.huetility-string-input {
  width: 7rem;
  font-size: 1.25rem;
}

.huetility-code-input label {
  font-weight: 700;
  font-size: 1.25rem;
  margin-right: 0.5rem;
}

@media (max-width: 700px) {
  .huetility-slider-input {
    visibility: hidden;
    width: 0px;
  }
}
