/* ColorPicker */

.huetility-mode-select {
  margin-bottom: 1rem;
  width: 7rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.huetility-color-selection-container {
  display: flex;
  gap: 2rem;
}

/* ColorPickerHEX, ColorPickerRGB, etc  */

.huetility-code-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.huetility-code-input-group {
  display: flex;
  gap: 1rem;
}

.huetility-code-input {
  display: flex;
  flex-direction: column;
}

.huetility-code-number-input {
  margin-bottom: 0.75rem;
}

.huetility-code-input label {
  font-weight: 700;
  font-size: 1.25rem;
  margin-right: 0.5rem;
}

.huetility-number-input {
  font-size: 1.25rem;
}

.huetility-string-input {
  font-size: 1.25rem;
}

.huetility-hex-input {
  width: 7rem;
  font-size: 1.25rem;
}
