/* Contrast  */

.huetility-contrast-input-container {
  display: flex;
  gap: 4rem;
}

.huetility-contrast-title-tooltip {
  text-align: left;
}

/* ContrastChecker  */

.huetility-contrast-hex-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.huetility-contrast-swatch-container {
  display: flex;
  gap: 1rem;
}

.huetility-contrast-swatch {
  height: 200px;
  width: 200px;
  display: flex;
  margin-top: 20px;
}

.huetility-contrast-ratio {
  margin-top: 20px;
}

.huetility-contrast-text-samples {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  line-height: 2.5rem;
  height: 194px;
  width: 194px;
}

.huetility-contrast-text-ratios {
  display: flex;
  flex-direction: column;
  align-items: center;
}
