.huetility-component-title {
  margin-bottom: 0.5rem;
}

.huetility-input-error {
  color: red;
  height: 0px;
}

.huetility-space-above {
  margin-top: 2rem;
}

.huetility-bordered {
  border: 3px black solid;
}
