.huetility-palette-swatches {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.huetility-swatch-group {
  display: flex;
}

.huetility-palette-swatch {
  height: 100px;
  width: 100px;
}

@media (max-width: calc(400px + 3rem) ) {
  .huetility-palette-swatch {
    height: 50px;
    width: 50px;
  }
}

.huetility-palette-name {
  font-weight: bold;
}
