.huetility-tooltip-text,
.huetility-tooltip-hover {
  display: inline-block;
}

.huetility-tooltip-text {
  margin-right: 1rem;
}

.huetility-tooltip-message {
  visibility: hidden;
  position: absolute;
  width: 400px;
  margin-left: -200px;
  margin-top: 0.75rem;
  padding: 2rem;
  background-color: #000;
  border: 3px solid #fff;
  color: #fff;
  left: 50%;
  z-index: 1;
}

.huetility-tooltip-trigger:hover + .huetility-tooltip-message,
.huetility-tooltip-trigger:focus-visible + .huetility-tooltip-message {
  display: block;
  visibility: visible;
}

@media (max-width: 440px) {
  .huetility-tooltip-message {
    width: 300px;
    margin-left: -150px;
  }
}
