.huetility-vision-container {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  gap: 22px;
}

.huetility-vision-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 162px;
}

.huetility-vision-swatch {
  height: 100px;
  width: 162px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.huetility-vision-text-samples {
  padding: 2rem;
}

.huetility-vision-category {
  font-weight: bold;
}

.huetility-diminished-vision-text {
  filter: blur(1px);
  -webkit-filter: blur(1px);
}
