/* Contrast  */

.huetility-contrast {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.huetility-contrast-checkers-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
}

@media (max-width: 946px) {
  .huetility-contrast-checkers-container {
    justify-content: center;
  }

  #contrast-checker-2 {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
}

/* ContrastChecker  */

.huetility-contrast-checker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.huetility-contrast-hex-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.huetility-contrast-swatch-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}

@media (max-width: calc(400px + 5rem)) {
  .huetility-contrast-swatch-container {
    flex-direction: column;
    align-items: center;
  }
}

.huetility-contrast-swatch {
  height: 200px;
  width: 200px;
}

.huetility-contrast-ratio {
  margin-top: 20px;
}

.huetility-contrast-text-samples {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  line-height: 2.5rem;
  height: 194px;
  width: 194px;
}

.huetility-contrast-text-ratios {
  display: flex;
  flex-direction: column;
  align-items: center;
}
