/* globals */

body {
  background-color: rgb(245 245 245);
  font-family: "Open Sans", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-wrap: break-word;
  word-break: break-word;
}

*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

button[disabled] {
  cursor: not-allowed;
}

a {
  color: #f20091;
  text-decoration: none;
  cursor: pointer;
}

hr {
  border: 2px solid black;
  width: 900px;
  margin: 4rem 0;
}
